body {
  background-color: #cce0ce;
  /*6a7293;*/
  /*edefec;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  color: white;
  text-align: center;
  margin: 0;
}

/*top*/

nav {
  text-align: left;
  font-size: 26pt;
  position: fixed;
}

h1 {
  font-size: 60pt;
}

h2 {
  font-size: 24pt;
}

.title {
  margin-top: -40px;
}

.top {
  font-family: 'Roboto', sans-serif;
  top: 0;
  left: 0;
  background-color: #cce0ce;
  width: 100%;
  flex: 1;
}

.header-text {
  margin-top: 10%;
}

.logo {
  width: 10%;
  margin-top: -60px;
}

/*middle*/
h3 {
  font-size: 14pt;
  margin-top: 0px;
}

.middle {
  padding: 3% 20% 3% 20%;
  background-color: #EDEFEC;
  /*9b9ea1;*/
  color: #55595d;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.headshot {
  border-radius: 50%;
  width: 125px;
  border: 3px solid white;
  margin-right: 5%;
}

.summary h4 {
  text-align: left;
}

/*bottom*/
.bottom {
  /*background-color: #9b9ea1;*/
  padding: 5% 10% 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.more {
  border: 4px solid white;
  padding: 0px 20px 0px 20px;
}

.dc-skyline {
  width: 40%;
  margin-bottom: -10%;
}

.more-info {
  display: none;
  margin-top: 5%;
  background-color: #EDEFEC;
  color: #55595d;
  /*color: white;*/
  /*background-color: #9b9ea1;*/
  padding: 0% 15% 5% 15%;
}

.more-who {
  display: none;
  text-align: left;
}

.more-where {
  display: none;
  text-align: left;
}

.more-where a {
  border: 4px solid white;
  background-color: #9b9ea1;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.more-what {
  display: none;
  color: white;
  text-decoration: none;
  text-align: left;
}

/* footer */
footer {
  /*background-color: #9b9ea1;*/
  padding: 10px;
}

/* mobile */
@media all and (max-width: 500px) {
  body {
    background-color: #cce0ce;
  }

  .bottom {
    flex-direction: column;
  }
}
